body {
	 min-width:550px; 
   width: auto !important;
   width:550px;
}
.snakePage {
	margin: 0 auto;
}

.arena {
	margin: 0 auto;
	width: 500;
	height: 500;
	padding-top: 20px;
	text-align: center;	
	border: solid 5px gray;
	border-radius: 5px;
}

.startButtonContainer {
	margin: 10px auto 10px auto;
	width: 90px;
	height: 30px;
	text-align: center;
}

